
@import 'https://js.arcgis.com/4.30/@arcgis/core/assets/esri/themes/dark/main.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.esri-ui-top-left {
    display: none;
}

.esri-attribution {
    position: fixed !important;
    background: transparent;

    @media screen and (max-width: 1024px) {
        bottom: 381px !important;
    }

    @media screen and (max-width: 768px) {
        bottom: 370px !important;
    }
}

* {
    font-family: "Manrope", sans-serif;

    &::-webkit-scrollbar {
        display: none;
      }

      scrollbar-width: none;

      -ms-overflow-style: none;
}